body {
  font-family: sans-serif;
  margin-right: 10px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLWSOKljLQOFdvSzc71izq5eggYK6m01WmsQ&usqp=CAU'),url('https://media.giphy.com/media/3o752oeUYz6S2SHi5W/giphy.gif');
  background-repeat: no-repeat,no-repeat;
  background-size: 50% 730px;
  background-position: left top,right top;
}
.logo{
  text-align: left;
}
.pic{
  height: 90px;
  padding: 5px;
}
.text{
  color:  #3287c1;
  margin-top:170px;
  margin-left: 90px;
}
.heading{
font-size: 50px;

}
.para{
  font-size: 15px;
  line-height: 75%;
  margin-left:2px;

}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #F4FBFC;
  border: none;
  color: #3287c1;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 250px;
  position: relative;
  bottom: 150px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.goin{
  margin-top: 58px;
  float:right;
  background-position: relative;
}
.info{
  color:  #F4FBFC;
  font-size: 10px;
}
.top-nav{
  float: right;
  position: relative;
  top:19px;

}
.top-nav a:hover {
  background-color: #F4FBFC;
  color: #3287c1;
}
.top-nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
